// -------------------------------------------------------------
// login
// -------------------------------------------------------------

.login {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.login-box {
  width: 42rem;
  max-width: 100%;
  padding: 4rem;
  background-color: #fff;
  border-radius: $base-border-radius;
  box-shadow: $base-box-shadow;
}

.login-box__btn {
  display: block;
  width: 100%;
  padding: 1em;
  text-transform: uppercase;
}
