// --------------------------------------------------------------
// == config */
// --------------------------------------------------------------

// base
// --------------------------------------------------------------

$base-font: 14; // px value (without unit), will be converted in em
$line-height: 1.5;
$fontstack1: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;

// responsive
// --------------------------------------------------------------

$xsmall: 480px;
$small: 768px;
$medium: 960px;
$large: 1280px;

// default gutter
// --------------------------------------------------------------

$default-gutter: 2rem;

// Focus ring
// --------------------------------------------------------------

$focus-ring: 0 0 0 .1rem rgba($color-focus, .5);

// Bases
// --------------------------------------------------------------

$base-border-radius: .8rem;
$base-border-thin: .1rem solid $color-border;
$base-border: .2rem solid $color-border;
$base-box-shadow: 0 .2rem .4rem 0 rgba(0,0,0,.03), 0 3px 11px 0 rgba(37,41,82,.06);
$base-box-shadow-hover: 0 .4rem .6rem 0 rgba(0,0,0,.03), 0 5px 15px 0 rgba(37,41,82,.06);

// Forms
// --------------------------------------------------------------

$input-border-radius: .4rem;
$input-border: 1px solid #d8d8d8;

// Z-index
// --------------------------------------------------------------

$z-index-menu: 100;
$z-index-choices: 1000;
