// --------------------------------------------------------------
// == config */
// --------------------------------------------------------------

// base
// --------------------------------------------------------------

$base-font: 14; // px value (without unit), will be converted in em
$line-height: 1.5;
$fontstack1: -apple-system,blinkmacsystemfont,"Segoe UI",roboto,oxygen-sans,ubuntu,cantarell,"Helvetica Neue",sans-serif;

// responsive
// --------------------------------------------------------------

$xsmall: 480px;
$small: 768px;
$medium: 960px;
$large: 1280px;

// default gutter
// --------------------------------------------------------------

$default-gutter: 2rem;

// Grids
// --------------------------------------------------------------

$gap: 3rem;

// Focus ring
// --------------------------------------------------------------

$focus-ring: 0 0 0 0.1rem rgba($color-focus, 0.5);

// Bases
// --------------------------------------------------------------

$base-border-radius: 0.8rem;
$base-border-thin: 0.1rem solid $color-border;
$base-border: 0.2rem solid $color-border;
$base-box-shadow: 0 0.2rem 0.4rem 0 rgb(0 0 0 / 3%), 0 3px 11px 0 rgb(37 41 82 / 6%);
$base-box-shadow-hover: 0 0.4rem 0.6rem 0 rgb(0 0 0 / 3%), 0 5px 15px 0 rgb(37 41 82 / 6%);

// Forms
// --------------------------------------------------------------

$input-border-radius: 0.3rem;
$input-border: 0.1rem solid #979797;

// Z-index
// --------------------------------------------------------------

$z-index-menu: 100;
$z-index-choices: 1000;
