/* ----------------------------------------------------------- */
/* == state */
/* ----------------------------------------------------------- */

.isDraggable {
  cursor: grab;
}

.isClickable {
  cursor: pointer;
}

.isDisabled {
  cursor: not-allowed;
}
