/* ----------------------------------------------------------- */
/* == configuration */
/* ----------------------------------------------------------- */


$btn-primary: $color-primary;
$btn-secondary: $color-secondary;
$btn-danger: $color-red;
$btn-hover: 5%;
$btn-radius: .4rem;


/* ----------------------------------------------------------- */
/* == module */
/* ----------------------------------------------------------- */

.btn {
  position: relative;
  display: inline-block;
  padding: .5em 1em;
  color: $color-dark-text;
  line-height: normal;
  line-height: 2rem;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid $color-dark-text;
  border-radius: $btn-radius;
  box-shadow: none;
  cursor: pointer;
  transition: background-color .3s;
}

.btn:active,
.btn:focus {
  outline: none;
  box-shadow: $focus-ring;
}

/* colors
-------------------------------------------------------------- */

.btn--primary,
.btn--primary:link,
.btn--primary:visited {
  color: #fff;
  background-color: $btn-primary;
  border: .1rem solid transparent;
}

.btn--primary:hover,
.btn--primary:active,
.btn--primary:focus {
  background-color: darken($btn-primary, $btn-hover);
}

.btn--secondary,
.btn--secondary:link,
.btn--secondary:visited {
  color: #fff;
  background-color: $btn-secondary;
  border: .1rem solid transparent;
}

.btn--secondary:hover,
.btn--secondary:active,
.btn--secondary:focus {
  background-color: darken($btn-secondary, $btn-hover);
}

.btn--danger,
.btn--danger:link,
.btn--danger:visited {
  color: $btn-danger;
  background-color: #fff;
  border: 1px solid $btn-danger;
}


.btn--danger:hover,
.btn--danger:active,
.btn--danger:focus {
  color: #fff;
  background-color: darken($btn-danger, $btn-hover);
}

.btn--disabled,
.btn--disabled:link,
.btn--disabled:visited {
  color: $color-dark-text;
  background-color: $color-grey;
  border: 1px solid transparent;
  cursor: not-allowed;
}

.btn--bullet,
.btn--bullet:link,
.btn--bullet:visited {
  padding-right: .5rem;
  padding-left: .5rem;
  color: $color-blue;
  background-color: #fff;
  border: 1px solid $color-blue;
}

.btn--dropdown,
.btn--dropdown:link,
.btn--dropdown:visited {
  padding: .7rem 1rem;
  padding-right: 3.6rem;
  color: #4a5b69;
  font-weight: bold;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='10' viewBox='0 0 13 10'%3E%3Cpath fill='%234A5B69' d='M5.01604695,9.04570077 L0.889265209,4.92875915 C0.450311615,4.49085222 0.449463125,3.78001632 0.887370054,3.34106273 C0.887893802,3.34053773 0.88841807,3.34001325 0.888942857,3.33948929 C1.32869056,2.90043407 2.04101472,2.90071472 2.48041632,3.34011632 L6.42857143,7.28827143 L6.42857143,7.28827143 L10.3767265,3.34011632 C10.8161281,2.90071472 11.5284523,2.90043407 11.9682,3.33948929 C12.4069759,3.77757424 12.407536,4.48841043 11.9694511,4.92718635 C11.9689271,4.92771114 11.9684026,4.9282354 11.9678776,4.92875915 L7.84109591,9.04570077 C7.0604353,9.82449992 5.79670756,9.82449992 5.01604695,9.04570077 Z'/%3E%3C/svg%3E%0A"), linear-gradient(180deg, #fff 0%, #f0f2f4 100%);
  background-repeat: no-repeat;
  background-position: calc(100% - 1.1rem) center, 0 0 ;
  border: .1rem solid #a5b4c0;
  border-radius: .3rem;
  cursor: pointer;
}

/* icons
-------------------------------------------------------------- */

.btn .feather {
  width: 2rem;
  height: 2rem;
  margin: 0 .1rem;
  vertical-align: bottom;
}

/* size
-------------------------------------------------------------- */

.btn--big {
  font-size: $base-font + 4;
}
