/**
 * Notification module
 * Namespace : .notif
 */

.notif {
  padding: 1em;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.notif--success {
  border-color: #d2ecb8;
  background-color: #dff1cc;
  color: #316100;
}

.notif--warning {
  border-color: #fbeebc;
  background-color: #fcf3cf;
  color: #7d6608;
}

.notif--info {
  border-color: #cbe7fb;
  background-color: #daeefc;
  color: #24587e;
}

.notif--error {
  border-color: #f1c1c0;
  background-color: #f5d2d2;
  color: #6b1110;
}
