/* ----------------------------------------------------------- */
/* == tag */
/* ----------------------------------------------------------- */

.tag {
  display: inline-block;
  padding: .2em .6em;
  color: #fff;
  font-size: 1.2rem;
  vertical-align: middle;
  background-color: #808080;
  border-radius: 8px;
}

.tag:empty {
  width: 1.2em;
  height: 1.2rem;
  padding: 0;
  font-size: 1rem;
  border-radius: 50%;
}

.tag--medium:empty {
  width: 2.4em;
  height: 2.4rem;
}

.tag--medium {
  font-size: 1.5rem;
}

.tag--green {
  background-color: $color-green;
}

.tag--red {
  background-color: $color-red;
}

.tag--blue {
  background-color: $color-blue;
}

.tag--orange {
  background-color: $color-orange;
}

.tag--yellow {
  background-color: $color-yellow;
}

.tag--grey {
  color: #000;
  background-color: $color-grey;
}
