// -------------------------------------------------------------
// module
// -------------------------------------------------------------

.notif {
  padding: 1em;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.noty_theme__helium {
  padding: 1em;
  border: 1px solid transparent;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.notif--success,
.noty_type__success.noty_theme__helium {
  border-color: #d2ecb8;
  background-color: #dff1cc;
  color: #316100;
}

.notif--warning,
.noty_type__warning.noty_theme__helium {
  border-color: #fbeebc;
  background-color: #fcf3cf;
  color: #7d6608;
}

.notif--info,
.noty_type__info.noty_theme__helium {
  border-color: #cbe7fb;
  background-color: #daeefc;
  color: #24587e;
}

.notif--error,
.noty_type__error.noty_theme__helium {
  border-color: #f1c1c0;
  background-color: #f5d2d2;
  color: #6b1110;
}
