// -------------------------------------------------------------
// module
// -------------------------------------------------------------

.f-switch[type="checkbox"] {
  position: relative;
  width: 4rem;
  height: 2rem;
  border: $input-border;
  margin-top: -0.05em;
  appearance: none;
  background-color: #fff;
  border-radius: 42rem;
  box-shadow: inset -2rem 0 0 0.1rem rgb(192 192 192 / 50%);
  outline: none;
  transition: 0.2s;
}

.f-switch[type="checkbox"]::-ms-check {
  opacity: 0;
}

/* Checked state
-------------------------------------------------------------- */

.f-switch[type="checkbox"]:checked {
  border-color: $color-secondary;
  box-shadow: inset 2rem 0 0 0.1rem rgba($color-secondary, 0.7);
}

/* Focus state
-------------------------------------------------------------- */

.f-switch[type="checkbox"]:active,
.f-switch[type="checkbox"]:focus {
  box-shadow: inset -2rem 0 0 0.1rem rgb(192 192 192 / 50%), $focus-ring;
}

.f-switch[type="checkbox"]:checked:active,
.f-switch[type="checkbox"]:checked:focus {
  box-shadow: inset 2rem 0 0 0.1rem rgba($color-secondary, 0.7), $focus-ring;
}
