// -------------------------------------------------------------
// module
// -------------------------------------------------------------

table {
  width: 100%;
  max-width: 100%;
  border: none;
  border-collapse: collapse /* remove spacing between table cells */;
  border-spacing: 0;
  table-layout: fixed /* http://css-tricks.com/fixing-tables-long-strings */;
}

table caption {
  padding: 1em 0;
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  text-align: center;
}

table tbody tr:nth-child(odd) {
  background-color: $background-color;
}

table td,
table th {
  overflow: hidden;
  padding: 0.8em 1em;
  margin: 0;
  font-size: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
}

table td:first-child,
table th:first-child {
  border-left-width: 0;
}

table thead {
  background: #fff;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}

/* helpers
-------------------------------------------------------------- */

.table-actions {
  overflow: visible;
  width: 8rem;
  text-align: center;
}

.table-50p {
  width: 5rem;
}

.table-100p {
  width: 10rem;
}

.table-150p {
  width: 15rem;
}

.table-200p {
  width: 20rem;
}
