/* ----------------------------------------------------------- */
/* == tag */
/* ----------------------------------------------------------- */

.tag {
  display: inline-block;
  padding: .4rem 1rem;
  color: #fff;
  font-weight: 800;
  font-size: 1rem;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: #808080;
  border-radius: 6px;
}

.tag:empty {
  width: 1.5em;
  height: 1.5rem;
  padding: 0;
  font-size: 1rem;
  border-radius: 50%;
}

.tag--square:empty {
  border-radius: 0;
}

.tag--wide {
  width: 100%;
  text-align: center;
}

.tag--green {
  color: $emerald-700;
  background-color: $emerald-200;
}

.tag--green:empty {
  background-color: $emerald-500;
}

.tag--red {
  color: $red-700;
  background-color: $red-200;
}

.tag--red:empty {
  background-color: $red-500;
}

.tag--blue {
  color: $blue-700;
  background-color: $blue-200;
}

.tag--blue:empty {
  background-color: $blue-500;
}

.tag--orange {
  color: $orange-700;
  background-color: $orange-200;
}

.tag--orange:empty {
  background-color: $orange-500;
}

.tag--yellow {
  color: $yellow-700;
  background-color: $yellow-200;
}

.tag--yellow:empty {
  background-color: $yellow-500;
}

.tag--gray {
  color: $gray-700;
  background-color: $gray-200;
}

.tag--gray:empty {
  background-color: $gray-500;
}
