// -------------------------------------------------------------
// module
// -------------------------------------------------------------

.tag {
  display: inline-block;
  padding: 0.4rem 1rem;
  background-color: #808080;
  border-radius: 6px;
  color: #fff;
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  vertical-align: middle;
}

.tag:empty {
  width: 1.5em;
  height: 1.5rem;
  padding: 0;
  border-radius: 50%;
  font-size: 1rem;
}

.tag--square:empty {
  border-radius: 0;
}

.tag--wide {
  width: 100%;
  text-align: center;
}

.tag--green {
  background-color: $color-emerald-200;
  color: $color-emerald-700;
}

.tag--green:empty {
  background-color: $color-emerald-500;
}

.tag--red {
  background-color: $color-red-200;
  color: $color-red-700;
}

.tag--red:empty {
  background-color: $color-red-500;
}

.tag--blue {
  background-color: $color-blue-200;
  color: $color-blue-700;
}

.tag--blue:empty {
  background-color: $color-blue-500;
}

.tag--orange {
  background-color: $color-orange-200;
  color: $color-orange-700;
}

.tag--orange:empty {
  background-color: $color-orange-500;
}

.tag--yellow {
  background-color: $color-yellow-200;
  color: $color-yellow-700;
}

.tag--yellow:empty {
  background-color: $color-yellow-500;
}

.tag--gray {
  background-color: $color-gray-200;
  color: $color-gray-700;
}

.tag--gray:empty {
  background-color: $color-gray-500;
}
