/* ----------------------------------------------------------- */
/* == box */
/* ----------------------------------------------------------- */

.box {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  border-radius: $base-border-radius;
  background-color: #fff;
  box-shadow: $base-box-shadow;
}

.box__content {
  flex: 1 1 auto;
}

.box__header,
.box__actions,
.box__footer {
  padding: 1.3rem 2rem;
}

/* content
-------------------------------------------------------------- */

.box__content {
  padding: 2rem 3rem 3rem 3rem;
}

.box__content h1:first-child,
.box__content h2:first-child,
.box__content h3:first-child,
.box__content h4:first-child {
  margin-top: 0;
}

.box__content--noPadding {
  padding: 0;
}

/* header
-------------------------------------------------------------- */

.box__header {
  border-bottom: $base-border-thin;
  font-size: 1.8rem;
}

/* actions
-------------------------------------------------------------- */

.box__actions {
  display: flex;
  border-bottom: $base-border-thin;
}

.box__actions>* {
  flex: 0 1 auto;
  margin-right: 1rem;
}

.box__actions .pullRight>* {
  margin-right: 0;
  margin-left: 1rem;
}

/* footer
-------------------------------------------------------------- */


.box__footer {
  border-top: $base-border-thin;
}
