/* ----------------------------------------------------------- */
/* == card */
/* ----------------------------------------------------------- */

.card {
  overflow: hidden;
  border: 1px solid #edf1f4;
  border-radius: .4rem;
  background: #fafafa;
}

.card__content {
  padding: 1em;
}

.card__content--pic {
  padding: 0;
}

.card__content--pic img {
  display: block;
}

.card__action {
  display: block;
  padding: .5em;
  width: 100%;
  border-radius: 0;
  background-color: $btn-action;
}
