/* ----------------------------------------------------------- */
/* == card */
/* ----------------------------------------------------------- */

.card {
  background: $background-color;
  border: $base-border-thin;
}

.card__content {
  padding: 0;
}

.card__content--pic {
  padding: 0;
}

.card__content--pic img {
  display: block;
}

.card .card__action {
  display: block;
  background-color: $background-color;
}

.card__action > button {
  display: block;
  width: 100%;
  padding: .5rem 0;
  text-align: center;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.card__action > button > svg {
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: middle;
}
