/* ----------------------------------------------------------- */
/* == filter */
/* ----------------------------------------------------------- */

.filter {
  display: inline-block;
}

.filter button,
.filter button:hover,
.filter button:visited {
  color: $color-dark-text;
}

.filter button {
  display: inline-block;
  margin-right: 1.6rem;
  padding: .7rem 1.1rem;
  color: $color-tertiary;
  font-weight: bold;
  text-decoration: none;
  background: #fff;
  border: .1rem solid #a5b4c0;
  border-radius: .3rem;
}

.filter button:hover {
  transform: scale(1.07);
}

.filter button.is-active {
  color: $color-secondary;
  border-color: $color-secondary;
  box-shadow: 0 5px 16px -12px rgba(34,138,230,.98), 0 8px 21px -9px rgba(34,138,230,.40), 0 1px 11px -7px rgba(34,138,230,.25), 0 0 4px -8px rgba(34,138,230,.10);
}

.filter button.is-badge {
  position: relative;
  padding-right: 2.7rem;
}

.filter button.is-badge::after {
  position: absolute;
  top: calc(50% - .4rem);
  right: 1.3rem;
  width: .8rem;
  height: .8rem;
  background: #ff4d4f;
  border-radius: 1rem;
  content: '';
}
