/* ----------------------------------------------------------- */
/* == lists */
/* ----------------------------------------------------------- */

.list {
  display: flex;
  align-items: stretch;
  margin-bottom: 1rem;
  border: $base-border-thin;
  background-color: #fff;
}

.list__action {
  padding: .8rem 1rem;
  border-right: $base-border-thin;
  background-color: $background-color;
  line-height: 0;
}

.list__action svg {
  width: 1.5rem;
}

.list__action button {
  border: none;
  background-color: $background-color;
  box-shadow: none;
  vertical-align: middle;
  line-height: 1;
}

.list__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  align-self: stretch;
  padding: .5rem;
  transition: background-color ease .3s;
}

.list__content > * {
  padding-left: 1rem;
}

.list__content:link,
.list__content:visited {
  color: $color-dark-text;
  text-decoration: none;
}

.list__content:hover {
  background-color: $background-color;
}

/* level
-------------------------------------------------------------- */

[data-level="1"] {
  margin-left: 0;
}

[data-level="2"] {
  margin-left: 5rem;
}

[data-level="3"] {
  margin-left: 10rem;
}

[data-level="4"] {
  margin-left: 15rem;
}

[data-level="5"] {
  margin-left: 20rem;
}

[data-level="6"] {
  margin-left: 25rem;
}
