/* ----------------------------------------------------------- */
/* == thumbnail */
/* ----------------------------------------------------------- */

.thumbnail {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
  display: inline-block;
  max-width: 100%;
  vertical-align: top;
}

.thumbnail--small {
  width: 100px;
}

.thumbnail--medium {
  width: 150px;
}

.thumbnail--large {
  width: 200px;
}
