/* ----------------------------------------------------------- */
/* == titles */
/* ----------------------------------------------------------- */

.title {
  margin: 1.6rem 0;
  font-size: 2.5rem;
}

.title-wrapper {
  background-color: #f6f7f9;
  border-bottom: .1rem solid $color-border;
}

.title-wrapper > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-nav__item {
  margin-left: 1rem;
  vertical-align: middle;
}
