@use 'sass:math';
/* ----------------------------------------------------------- */
/* == tree view */
/* ----------------------------------------------------------- */

$tree-indentation: 1em;
$tree-line-height: 2em;

.tree,
.tree ul {
  position: relative;
  margin: 0 0 0 $tree-indentation;
  padding: 0;
  list-style: none;
}

.tree a,
.tree a:hover,
.tree a:visited {
  color: $color-dark-text;
  text-decoration: none;
}

.tree ul {
  margin-left: math.div($tree-indentation, 2);
}

.tree::before,
.tree ul::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 0;
  border-left: 1px solid darken($color-border, 10%);
  content: '';
}

.tree li {
  position: relative;
  margin: 0;
  padding: 0 $tree-indentation + .5em;
  line-height: $tree-line-height;
}

.tree li::before {
  position: absolute;
  top: math.div($tree-line-height, 2);
  left: 0;
  display: block;
  width: $tree-indentation;
  height: 0;
  margin-top: -1px; /* border top width */
  border-top: 1px solid darken($color-border, 10%);
  content: '';
}

.tree li:last-child::before {
  top: math.div($tree-line-height, 2);
  bottom: 0;
  height: auto;
  background: #fff; /* same with body background */
}
