// -------------------------------------------------------------
// card
// -------------------------------------------------------------

.card {
  border: $base-border-thin;
  background: $background-color;
}

.card__content {
  padding: 0;
}

.card__content--pic {
  padding: 0;
}

.card__content--pic img {
  display: block;
}

.card .card__action {
  display: block;
  background-color: $background-color;
}

.card__action > button {
  display: block;
  width: 100%;
  padding: 0.5rem 0;
  border: none;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  text-align: center;
}

.card__action > button > svg {
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: middle;
}
