// -------------------------------------------------------------
// filter
// -------------------------------------------------------------

.filter {
  display: inline-block;
}

.filter button,
.filter button:hover,
.filter button:visited {
  color: $color-dark-text;
}

.filter button {
  display: inline-block;
  padding: 0.7rem 1.1rem;
  border: 0.1rem solid #a5b4c0;
  margin-right: 1.6rem;
  background: #fff;
  border-radius: 0.3rem;
  color: $color-tertiary;
  font-weight: bold;
  text-decoration: none;
}

.filter button:hover {
  transform: scale(1.07);
}

.filter button.is-active {
  border-color: $color-secondary;
  box-shadow: 0 5px 16px -12px rgb(34 138 230 / 98%), 0 8px 21px -9px rgb(34 138 230 / 40%), 0 1px 11px -7px rgb(34 138 230 / 25%), 0 0 4px -8px rgb(34 138 230 / 10%);
  color: $color-secondary;
}

.filter button.is-badge {
  position: relative;
  padding-right: 2.7rem;
}

.filter button.is-badge::after {
  position: absolute;
  top: calc(50% - 0.4rem);
  right: 1.3rem;
  width: 0.8rem;
  height: 0.8rem;
  background: #ff4d4f;
  border-radius: 1rem;
  content: "";
}
