/* ----------------------------------------------------------- */
/* == lists */
/* ----------------------------------------------------------- */

.list {
  display: flex;
  align-items: stretch;
  margin-bottom: 1rem;
  background-color: #fff;
  border: $base-border-thin;
}

.list__action {
  padding: .8rem 1rem;
  line-height: 0;
  background-color: $background-color;
  border-right: $base-border-thin;
}

.list__action svg {
  width: 1.5rem;
}

.list__action button {
  line-height: 1;
  vertical-align: middle;
  background-color: $background-color;
  border: none;
  box-shadow: none;
}

.list__content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  align-self: stretch;
  padding: .5rem;
  transition: background-color ease .3s;
}

.list__content > * {
  padding-left: 1rem;
}

.list__content:link,
.list__content:visited {
  color: $color-dark-text;
  text-decoration: none;
}

.list__content:hover {
  background-color: $background-color;
}

/* level
-------------------------------------------------------------- */

[data-level='1'] {
  margin-left: 0;
}

[data-level='2'] {
  margin-left: 5rem;
}

[data-level='3'] {
  margin-left: 10rem;
}

[data-level='4'] {
  margin-left: 15rem;
}

[data-level='5'] {
  margin-left: 20rem;
}

[data-level='6'] {
  margin-left: 25rem;
}
