/* ----------------------------------------------------------- */
/* == box */
/* ----------------------------------------------------------- */

.box {
  background-color: #fff;
  box-shadow: 0 1px 1px 0 #ebebeb;
  margin-bottom: 30px;
}

.box__header,
.box__actions,
.box__footer {
  padding: 1rem 2rem;
}

.box__content {
  padding: 2rem 3rem 3rem 3rem;
}

.box__content--noPadding {
  padding: 0;
}

.box__header {
  font-size: 2.2rem;
  border-bottom: 2px solid #f7f7f7;
}

.box__actions {
  border-bottom: 2px solid #f7f7f7;
  display: flex;
}

.box__actions > * {
  margin-right: 1rem;
  flex: 0 1 auto;
}

.box__actions .pullRight > * {
  margin-right: 0;
  margin-left: 1rem;
}

.box__footer {
  border-top: 2px solid #f7f7f7;
}
