/* ----------------------------------------------------------- */
/* == menu */
/* ----------------------------------------------------------- */

.menu {
  display: inline-block;
  margin-bottom: 4rem;
}

.menu a,
.menu a:hover,
.menu a:visited {
  color: @color-dark-text;
}

.menu a {
  text-decoration: none;
  padding: 1rem 2rem;
  margin-right: 1rem;
  background: #fff;
  box-shadow: 0 1px 1px 0 #ebebeb;
  display: inline-block;
}

.menu a.is-active {
  background-color: @color-webup;
  color: #fff;
}
