/* ----------------------------------------------------------- */
/* == navigation */
/* ----------------------------------------------------------- */

.navigation a,
.navigation a:hover,
.navigation a:visited {
  color: #ececec;
  text-decoration: none;
}

.navigation a {
  text-align: center;
  display: block;
  margin-top: 3rem;
  font-size: 1.2rem;
}

.navigation a .icon {
  display: block;
  margin-bottom: .5rem;
}

.navigation a .icon:before {
  font-size: 3rem;
}
