// -------------------------------------------------------------
// layout
// -------------------------------------------------------------

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $background-color;
}
