/* ----------------------------------------------------------- */
/* == header */
/* ----------------------------------------------------------- */

.header {
  padding: .5rem 0;
  border-bottom: $base-border-thin;
  background-color: #fff;
  color: #fff;
}

.header > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header a,
.header a:visited,
.header a:hover {
  color: #51555c;
  text-decoration: none;
}

.header__logo {
  color: $color-dark-text;
  font-size: 2.2rem;
}

.header__logo > svg {
  display: inline-block;
  height: 3rem;
  vertical-align: middle;
}

.header__infos a {
  display: inline-block;
  padding: 1rem 1rem;
}
