/* ----------------------------------------------------------- */
/* == header */
/* ----------------------------------------------------------- */

.header {
  border-bottom: 1px solid #e0e5eb;
  background-color: #fff;
  color: #fff;
}

.header > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header a,
.header a:visited,
.header a:hover {
  color: #51555c;
  text-decoration: none;
}

.header__logo > svg {
  height: 3.5rem;
}

.header__infos a {
  display: inline-block;
  padding: 2rem 1rem;
}