/* ----------------------------------------------------------- */
/* == navigation */
/* ----------------------------------------------------------- */

.navigation {
  border-bottom: $base-border-thin;
  background-color: #fff;
}

.navigation a,
.navigation a:hover,
.navigation a:visited {
  color: #5e5e5e;
  text-decoration: none;
}

.navigation a {
  display: inline-block;
  padding: 1rem 1.5rem;
  border-right: $base-border-thin;
  border-bottom: 2px solid transparent;
  font-size: 1.4rem;
}

.navigation .is-active {
  border-bottom-color: $color-primary;
}

.navigation .container a:first-child {
  border-left: $base-border-thin;
}

.navigation a .icon:before {
  font-size: 3rem;
}

.navigation .feather {
  height: 1.8rem;
  vertical-align: sub;
}
