/* ----------------------------------------------------------- */
/* == navigation */
/* ----------------------------------------------------------- */

.navigation-wrapper {
  background-color: #fff;
  border-bottom: $base-border-thin;
}

.navigation {
  display: flex;
}

.navigation a,
.navigation a:hover,
.navigation a:visited {
  color: $color-dark-text;
  text-decoration: none;
}

.navigation > a,
.navigation > span {
  position: relative;
  display: inline-block;
  padding: 1.5rem;
  font-size: 1.4rem;
  border-right: $base-border-thin;
}

.navigation > a:hover {
  box-shadow: inset 0 -4px 0 0 $color-secondary;
}

.navigation > span {
  cursor: default;
}

.navigation .is-active {
  box-shadow: inset 0 -4px 0 0 $color-primary;
}

.navigation > a:first-child,
.navigation > span:first-child {
  border-left: $base-border-thin;
}

.navigation a .icon::before {
  font-size: 3rem;
}

.navigation .feather {
  width: auto;
  height: 1.8rem;
  margin-right: .2rem;
  vertical-align: sub;
}

/* breadcrumb
-------------------------------------------------------------- */

.navigation-breadcrumb {
  border-top: $base-border-thin;
}

/* sub
-------------------------------------------------------------- */

.navigation > span:hover > .navigation__sub {
  display: block;
}

.navigation__sub {
  position: absolute;
  top: calc(100% + .1rem);
  left: -.1rem;
  z-index: $z-index-menu;
  display: none;
  min-width: 20rem;
  background-color: #fff;
  border: $base-border-thin;
  border-top: none;
  border-bottom-right-radius: .4rem;
  border-bottom-left-radius: .4rem;
}

.navigation__sub > a,
.navigation__sub > span {
  display: block;
  padding: 1rem 1.5rem;
  border-bottom: $base-border-thin;
  border-left: .2rem solid transparent;
}

.navigation__sub > a:last-of-type,
.navigation__sub > span:last-of-type {
  border-bottom: none;
}

.navigation__sub > a:hover {
  border-left: 2px solid $color-secondary;
}
