/**
* Alerts
* namespace : .alert
*/

.alert {
  margin: 3rem 0;
  padding: .8em 1em;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: 1.5rem;
}

.alert:first-child {
  margin-top: 0;
}

.alert--success {
  border-color: #67b746;
  background: #dff0d8;
  color: #67b746;
}

.alert--info {
  border: 1px solid #1c99ec;
  background: #d9eefc;
  color: #1c99ec;
}

.alert--error {
  border-color: #d84444;
  background: #fbecec;
  color: #d84444;
}
