/**
* Buttons Module
* namespace : .btn
*/

/* ----------------------------------------------------------- */
/* == configuration */
/* ----------------------------------------------------------- */

@btn-hover: 5%;
@btn-radius: 0;

/* ----------------------------------------------------------- */
/* == module */
/* ----------------------------------------------------------- */

.btn,
button {
  vertical-align: middle;
}

.btn,
button,
input[type="submit"] {
  display: inline-block;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: @btn-radius;
  background-color: @btn-primary;
  box-shadow: none;
  color: #fff;
  text-align: center;
  text-decoration: none !important;
  font-size: 1.4rem;
  line-height: normal;
  cursor: pointer;
  transition: background-color .4s;
}

/* colors
-------------------------------------------------------------- */

.btn--primary,
.btn--primary:link,
.btn--primary:visited {
  background-color: @btn-primary;
  color: #fff;
}

.btn--primary:active,
.btn--primary:focus,
.btn--primary:hover {
  background-color: darken(@btn-primary, @btn-hover);
}

.btn--secondary,
.btn--secondary:link,
.btn--secondary:visited {
  background-color: @btn-secondary;
  color: #fff;
}

.btn--secondary:active,
.btn--secondary:focus,
.btn--secondary:hover {
  background-color: darken(@btn-secondary, @btn-hover);
}

.btn--danger,
.btn--danger:link,
.btn--danger:visited {
  background-color: @btn-danger;
  color: #fff;
}

.btn--danger:active,
.btn--danger:focus,
.btn--danger:hover {
  background-color: darken(@btn-danger, @btn-hover);
}

.btn--disabled,
.btn--disabled:link,
.btn--disabled:visited {
  background-color: @btn-disabled;
  color: #777;
  cursor: not-allowed;
}

.btn--disabled:active,
.btn--disabled:focus,
.btn--disabled:hover {
  background-color: darken(@btn-disabled, @btn-hover);
}

.btn--action,
.btn--action:link,
.btn--action:visited {
  background-color: @btn-action;
  color: #fff;
}

.btn--action:active,
.btn--action:focus,
.btn--action:hover {
  background-color: darken(@btn-action, @btn-hover);
  color: #fff;
}

/* size
-------------------------------------------------------------- */

.btn--big {
  font-size: @base-font + 4;
}
